{% extends 'base.html.twig' %}

{% block title %}{{ serie.name}} - {{ parent() }}{% endblock %}

{% block body %}
    
    <img src="{{ asset('img/backdrops/' ~ serie.backdrop) }}" >
    <h1 class=".text-primary">{{ serie.name}} </h1>
    <p>{{ serie.vote }}</p>
    <p>{{ serie.overview }}</p>

{% endblock %}
